Defaults:sensu !requiretty
Defaults:sensu secure_path = /usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
sensu ALL = NOPASSWD: /usr/sbin/crm_mon,/usr/sbin/rabbitmqctl,/usr/bin/heat-manage,/usr/libexec/openstack-monitoring/checks/oschecks-check_amqp,{{ sensu_plugins_path }}/megaclisas-status,{{ sensu_plugins_path }}/check_galera_cluster,{{ sensu_plugins_path }}/check_rabbitmq_partitions
