Defaults:sensu !requiretty
Defaults:sensu secure_path = /usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
sensu ALL = NOPASSWD: /usr/libexec/openstack-monitoring/checks/oschecks-check_ceph_df,/usr/libexec/openstack-monitoring/checks/oschecks-check_ceph_health,{{ sensu_plugins_path }}/megaclisas-status
